body{
    color :#333333;
    margin-left: 5%;
    margin-right: 5%;
    background-color:#EBF4EF;
}

h1{
    color: darkgreen;
}

h2 {
    color: green;
    margin-top: 50px;
}

.img_btn{
    text-align: center;
    color: green;
    margin: 0%;
    padding: 0%;
}
.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.head_btns{
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color:#69BD83;
    text-decoration:underline;
}

img{
    width: 20%;
    height: auto;
}

@media screen and(orientation: landscape){
    img{
        width : 10%;
        height: auto;
    }
}